* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #d5e1ef;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 499px;
  width: 320px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 20px;
  padding: 16px 16px 40px 16px;
}

.qr-code {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

.info-container {
  width: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px 0 16px;
  gap: 16px;
}

.intro {
  color: #1f314f;
  text-align: center;
  font-size: 22px;
  line-height: 120%;
  font-weight: bold;
}

.details {
  color: #68778d;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 140%;
}
